
function confedit()
{
	if [ $1 = "i3" ]; then vim ~/.config/i3/config
	elif [ $1 = "keyl" ]; then vim ~/mine/backup/xmodmap/decentkeys
	elif [ $1 = "keyr" ]; then vim ~/mine/backup/xmodmap/funnykeys
	elif [ $1 = "comp" ]; then vim ~/mine/.config/compton/.compton
	elif [ $1 = "basha" ]; then vim ~/.bash_aliases
	elif [ $1 = "bash" ]; then vim ~/.bashrc
	elif [ $1 = "bashi" ]; then vim ~/.inputrc
	elif [ $1 = "vim" ]; then vim ~/.vimrc
	elif [ $1 = "tmux" ]; then vim ~/.tmux.conf
	elif [ $1 = "todo" ]; then vim ~/mine/notes/todo
	elif [ $1 = "zsh" ]; then vim ~/.zshrc
	else echo "no config selected"
	fi
}

function execkeys()
{
	if [ -f ~/mine/backup/xmodmap/$1 ]; then
		if ! [ "$1" == "default" ]; then
			cp ~/mine/backup/xmodmap/$1 ~/.Xmodmap
		fi	
		printf "loading $1 config...\n"
		setxkbmap gb
		if [ "$PS1" ]; then
			printf "type slash and press enter"
			read
		else
			echo success > ~/bin/tmp
			fi
		sleep 2	
		xmodmap ~/.Xmodmap 
		sleep 2
		~/bin/ctrlesc.sh
	else
		printf "no config found.\n"
	fi
}

alias dotfiles='/usr/bin/git --git-dir=$HOME/mine/dotfiles --work-tree=$HOME'
alias cnf='confedit $1'
alias keyc='execkeys $1'
alias keys='tac ~/mine/notes/defkeys'
alias edi='rs=$(fzf);if $rs then vim $rs'
