alias dotfiles='/usr/bin/git --git-dir=$HOME/mine/dotfiles --work-tree=$HOME'
alias keys='tac ~/mine/notes/defkeys'
#alias edi='rs=$(fzf);if $rs then vim $rs'
alias klmac='emacsclient -e "(kill-emacs)"'
alias qbig='find -exec du --time -Sh {} + | sort -rh | head -n 5'
alias vnc='xvnc on'
alias vncoff='xvnc off'
alias vset='display-switch on'
alias vunset='display-switch off'
alias vpause='media-control vlcpause'
alias vforward='media-control vlcforward'
alias vrewind='media-control vlcrewind'
alias resx=`kill -SIGUSR1 $(pgrep -il sxhkd | awk '{print $1}')`
alias resetsx='killall sxhkd ; sleep 1 ; if ! [ $(pgrep -il sxhkd) ]; then i3-msg restart; sleep 1; pgrep -il sxhkd; fi'
alias retmux='tmux source-file ~/.tmux.conf'
